-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "auth";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "auth"."aal_level" AS ENUM ('aal1', 'aal2', 'aal3');

-- CreateEnum
CREATE TYPE "auth"."code_challenge_method" AS ENUM ('s256', 'plain');

-- CreateEnum
CREATE TYPE "auth"."factor_status" AS ENUM ('unverified', 'verified');

-- CreateEnum
CREATE TYPE "auth"."factor_type" AS ENUM ('totp', 'webauthn', 'phone');

-- CreateEnum
CREATE TYPE "auth"."one_time_token_type" AS ENUM ('confirmation_token', 'reauthentication_token', 'recovery_token', 'email_change_token_new', 'email_change_token_current', 'phone_change_token');

-- CreateTable
CREATE TABLE "public"."candidates" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "job_id" UUID NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "resume_url" TEXT,
    "status" TEXT DEFAULT 'pending',
    "is_favorite" BOOLEAN DEFAULT false,
    "notes" TEXT,
    "interview_token" TEXT,
    "interview_started_at" TIMESTAMPTZ(6),
    "interview_completed_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "interview_plan_id" TEXT,
    "resume_text" TEXT,
    "custom_answers" JSONB DEFAULT '{}',

    CONSTRAINT "candidates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."companies" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "name" TEXT NOT NULL,
    "cnpj" TEXT,
    "contact_email" TEXT,
    "contact_phone" TEXT,
    "address" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "companies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."interview_reports" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "candidate_id" UUID NOT NULL,
    "summary" TEXT,
    "alignment_analysis" TEXT,
    "overall_score" DECIMAL(3,2),
    "category_scores" JSONB DEFAULT '{}',
    "recommendations" TEXT,
    "transcript_url" TEXT,
    "recording_url" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "criteria_scores" JSONB DEFAULT '{}',
    "compatibility_score" DECIMAL(3,2),
    "strengths" TEXT[],
    "weaknesses" TEXT[],
    "insights" TEXT,
    "llm_model" TEXT DEFAULT 'gpt-4',

    CONSTRAINT "interview_reports_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."jobs" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "location" TEXT,
    "contract_type" TEXT DEFAULT 'full-time',
    "custom_fields" JSONB DEFAULT '{}',
    "status" TEXT DEFAULT 'open',
    "deadline" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "salary_info" TEXT,
    "benefits" TEXT,
    "requirements" JSONB DEFAULT '[]',
    "differentials" JSONB DEFAULT '[]',
    "work_model" TEXT DEFAULT 'remoto',
    "salary_range" TEXT,
    "evaluation_criteria" JSONB DEFAULT '[]',
    "custom_questions" JSONB DEFAULT '[]',

    CONSTRAINT "jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."plans" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "description" TEXT,
    "price_monthly" DECIMAL(10,2),
    "price_yearly" DECIMAL(10,2),
    "interview_credits" INTEGER DEFAULT 0,
    "features" JSONB DEFAULT '{}',
    "is_active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."subscriptions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "plan_id" UUID NOT NULL,
    "status" TEXT DEFAULT 'active',
    "current_period_start" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "current_period_end" TIMESTAMPTZ(6),
    "credits_remaining" INTEGER DEFAULT 0,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."usage_tracking" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "company_id" UUID NOT NULL,
    "action_type" TEXT NOT NULL,
    "resource_id" UUID,
    "credits_used" INTEGER DEFAULT 1,
    "metadata" JSONB DEFAULT '{}',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usage_tracking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."waitlist" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "email" TEXT NOT NULL,
    "name" TEXT,
    "company" TEXT,
    "created_at" TIMESTAMPTZ(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "job_title" TEXT,
    "newsletter_consent" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "waitlist_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."interview_contexts" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "candidate_id" UUID NOT NULL,
    "contextual_criteria" JSONB DEFAULT '[]',
    "generated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "llm_model" TEXT DEFAULT 'gpt-4',
    "processing_time_ms" INTEGER,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "interview_contexts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."interview_sessions" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "candidate_id" UUID NOT NULL,
    "session_token" TEXT NOT NULL,
    "status" TEXT DEFAULT 'pending',
    "mandatory_criteria_covered" JSONB DEFAULT '{}',
    "contextual_criteria_covered" JSONB DEFAULT '{}',
    "conversation_log" JSONB DEFAULT '[]',
    "started_at" TIMESTAMPTZ(6),
    "completed_at" TIMESTAMPTZ(6),
    "duration_seconds" INTEGER,
    "llm_model" TEXT DEFAULT 'gpt-4',
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "interview_sessions_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "candidates_interview_token_key" ON "public"."candidates"("interview_token");

-- CreateIndex
CREATE INDEX "candidates_email_idx" ON "public"."candidates"("email");

-- CreateIndex
CREATE INDEX "candidates_job_id_idx" ON "public"."candidates"("job_id");

-- CreateIndex
CREATE INDEX "candidates_status_idx" ON "public"."candidates"("status");

-- CreateIndex
CREATE INDEX "candidates_interview_plan_id_idx" ON "public"."candidates"("interview_plan_id");

-- CreateIndex
CREATE INDEX "companies_user_id_idx" ON "public"."companies"("user_id");

-- CreateIndex
CREATE INDEX "interview_reports_candidate_id_idx" ON "public"."interview_reports"("candidate_id");

-- CreateIndex
CREATE INDEX "jobs_company_id_idx" ON "public"."jobs"("company_id");

-- CreateIndex
CREATE INDEX "jobs_status_idx" ON "public"."jobs"("status");

-- CreateIndex
CREATE INDEX "subscriptions_company_id_idx" ON "public"."subscriptions"("company_id");

-- CreateIndex
CREATE INDEX "usage_tracking_company_id_idx" ON "public"."usage_tracking"("company_id");

-- CreateIndex
CREATE UNIQUE INDEX "waitlist_email_key" ON "public"."waitlist"("email");

-- CreateIndex
CREATE INDEX "waitlist_created_at_idx" ON "public"."waitlist"("created_at" DESC);

-- CreateIndex
CREATE INDEX "interview_contexts_candidate_id_idx" ON "public"."interview_contexts"("candidate_id");

-- CreateIndex
CREATE UNIQUE INDEX "interview_sessions_session_token_key" ON "public"."interview_sessions"("session_token");

-- CreateIndex
CREATE INDEX "interview_sessions_candidate_id_idx" ON "public"."interview_sessions"("candidate_id");

-- CreateIndex
CREATE INDEX "interview_sessions_status_idx" ON "public"."interview_sessions"("status");

-- CreateIndex
CREATE INDEX "interview_sessions_token_idx" ON "public"."interview_sessions"("session_token");

-- AddForeignKey
ALTER TABLE "public"."candidates" ADD CONSTRAINT "candidates_job_id_fkey" FOREIGN KEY ("job_id") REFERENCES "public"."jobs"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."interview_reports" ADD CONSTRAINT "interview_reports_candidate_id_fkey" FOREIGN KEY ("candidate_id") REFERENCES "public"."candidates"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."jobs" ADD CONSTRAINT "jobs_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."subscriptions" ADD CONSTRAINT "subscriptions_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."subscriptions" ADD CONSTRAINT "subscriptions_plan_id_fkey" FOREIGN KEY ("plan_id") REFERENCES "public"."plans"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."usage_tracking" ADD CONSTRAINT "usage_tracking_company_id_fkey" FOREIGN KEY ("company_id") REFERENCES "public"."companies"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."interview_contexts" ADD CONSTRAINT "interview_contexts_candidate_id_fkey" FOREIGN KEY ("candidate_id") REFERENCES "public"."candidates"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "public"."interview_sessions" ADD CONSTRAINT "interview_sessions_candidate_id_fkey" FOREIGN KEY ("candidate_id") REFERENCES "public"."candidates"("id") ON DELETE CASCADE ON UPDATE NO ACTION;

